<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzE2Zcrnv2BQoVV9iP0GX-OKqgcjsg0Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>799091892716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-66e6a</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-66e6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799091892716:ios:f6eb3eb1c1bd437d7760c9</string>
	<key>DATABASE_URL</key>
	<string>https://expensetracker-66e6a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>